<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href="/css/profile.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  </head>
  <body>

        <div class="row" style="">
                    <div class="col-md-6" style="width:500px;">
                    
                        <div id="profile_content">
                
                          <div id="profile_image">
                          </div>

                          <h1 id="title"></h1>
                          <h1 id="new_notifications"></h1><br>
                          <h4 id="location"></h4>
                          <h4 id="friend_count"></h4>
                          <br>
                        <!--<form role="form" action="" method="post" style="max-width: 420px; margin-left:auto; margin-right:auto;">    
                        <div class="form-group">
                        <input type="text" name="username" placeholder="What's on your mind?" class="form-control">
                        </div>
                     
                        <button type="submit" class="btn btn-warning">Post Status</button>&nbsp;
                        </form>-->
                        <br><br>
                        <a href="/logout"><button class="btn btn-primary">Log out</button></a>
                    </div>




                     
                        </div>
                        <!--add dynamic divs? or set four squares and make dynamic content? -->
                        <div class="col-md-3" style="" id="data_content_1">
                        <h2 id="notifications_title">My Notifications</h2>
                        

                        <ul data-role="listview" id="notify_feed">
                        </ul>

                        </div>



                   <div class="col-md-3" style="" id="data_content_2">
                        <h2 id="notifications_title">My Feed</h2>
                            


                        <ul data-role="listview" id="news_feed">
                        </ul>
                        </div>
                    

        </div>

         <div class="row" style="">
                    <div class="col-md-6" style="width:800px;  height:300px; margin-left:390px; margin-top:-89px;">
                        <div id="status_content">
                        <div class="form-group">
                        <textarea cols="70" rows="10" style="resize:none;" id="status_content_text" placeholder="What's on your mind?"></textarea>
                        </div>
                        <button type="submit" class="btn btn-warning" id="post_status">Post Status</button>&nbsp;
                        </form>
                        <br><br>
                    </div>
                    </div>
        </div>



 



  </body>
</html>